table {
    width: 66%;
    text-align: center;
    border-right: 1px solid #804040;
    border-bottom: 1px solid #804040;
    border-collapse: collapse;
}

table td {
    padding: 1%;
    border-left: 1px solid #804040;
    border-top: 1px solid #804040;
}